// Remade buttons
.formbutton{
  border-radius: 10px;
  display: block;
  background-color: darkgray;
  color:black;
  width: 95%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.formbutton:hover {
  color:black;
}
