.grid-x
  .medium-3.cell
    = render "buttons/admin"

  .medium-9.cell
    .center
      %h3 Admin Page
    .grid-x
      .medium-4.cell
        .callout.info
          .center
            %h4 User Accounts
            %p This is the page with all user accounts on LionNav.
            = link_to "Open", adminusers_path, class: "button"
