.grid-x
  .medium-3.cell
    = render "buttons/admin"
  .medium-9.cell
    .grid-x
      .medium-4.cell
      .medium-6.cell
        %h3 Admin Page
    .grid-x
      .medium-4.cell
        .callout.info
          .grid-x
            .medium-1.cell
            .medium-10.cell
              %h4 Site Wide Disable
          %p This would shut down all LionNav apps.
