.grid-x
  .medium-3.cell
    = render "buttons/data"
  .medium-9.cell
    .center
      %h2 Learn more about Lion Social
    .callout.round
      .center
        %h3 Data that is used by Lion Social
        %h5 The data that is used by Lion Social is your email. Lion Social protects your account by making sure that no hacker can get a hold of your email and password.
