.grid-x
  .medium-3.cell
    = render "buttons/data"
  .medium-9.cell
    .center
      %h2 Learn more about Lion Finance
    .callout.round
      .center
        %h3 Data that is used by Lion Finance
        %h5 The data that is used by Lion Finance is your email. Lion Finance protects your account by making sure that no hacker can get a hold of your email and password.
