.grid-x
  .medium-3.cell
    = render "buttons/data"
  .medium-9.cell
    .center
      %h2 Learn more about Movie Makers
    .callout.round
      .center
        %h3 Data that is used by Movie Makers
        %h5 The data that is used by Movie Makers is your email. Movie Makers protects your account by making sure that no hacker can get a hold of your email and password.
