.grid-x
  .medium-3.cell
    = render "buttons/data"
  .medium-9.cell
    .center
      %h2 Learn more about Rails Forums
    .callout.round
      .center
        %h3 Data that is used by Rails Forums
        %h5 The data that is used by Rails Forums is your email. Rails Forums protects your account by making sure that no hacker can get a hold of your email and password.
