.grid-x
  .medium-3.cell
    = render "buttons/home"
  .medium-9.cell
    .center
      %h3 Welcome #{current_user.username}
      %h5  Manage your info, data, and services to have lionnav work with you instead of against.
