.grid-x
  .medium-3.cell
    = render "buttons/credit"
  .medium-9.cell
    .center
      %h3 Credits
    %h4 Image Credits
    %h5 Icons for the buttons are made by #{link_to "Icons8", "https://icons8.com", target: :blank}
