.grid-x
  .medium-3.cell
    = render "buttons/about"
  .medium-9.cell
    .center
      %h3 About
    .callout.round
      %h4 Lion Nav has many features. Like posts messages and even orgainzing your first movie. With our forms for Ruby on Rails you can even learn something new if you wanted to.
