.grid-x
  .medium-3.cell
    = render "buttons/about"
  .medium-9.cell
    .center
      %h1 About Movie Makers
    .callout.round
      %h4 Ever wanted to keep mange on a movie? Have everything you need in one place for it? Well Movie Makers is the thing for you.
