.grid-x
  .medium-3.cell
    = render "buttons/about"
  .medium-9.cell
    .center
      %h1 About Rails Forums
      %h4 Ever wanted to learn how to make a website? Have little to none exprince? Wants to try something new? Well you have come to the the right place. Here at lionnav we want to give people the exprince on how to become a web develepor. With are forums there is people who could help you with even the most simplest question. If you have any questions you can email us here lionnavoffical@gmail.com Now what are you still doing here on the homepage? Go give this a try!
