.grid-x
  .medium-3.cell
    = render "buttons/data"
  .medium-9.cell
    .grid-x
      .medium-4.cell
      .medium-6.cell
        %h3 Your data
    .grid-x
      .medium-3.cell
      .medium-4.cell
        %h5 All your data all in one place.
