.grid-x
  .medium-3.cell
    = render "buttons/personal"
  .medium-9.cell
    .grid-x
      .medium-4.cell
      .medium-6.cell
        %h3 Personal Info
    .grid-x
      .medium-1.cell
      .medium-9.cell
        %h5 Basic info, like your name and photo, that you use on LionNav services.
